@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
<hr class="mt-1 mb-0" />

<EditForm Model="@Model" OnSubmit="OnClickAceptar">
    <DataAnnotationsValidator />
    <Blazored.FluentValidation.FluentValidationValidator />

    <RadzenLayout Style="height: auto">
        <RadzenBody class="mbottom30">
            <div class="mb-1 row">
                <label class="col-sm-2 col-form-label">Entidad:</label>
                <div class="col-sm-10">
                    <RadzenTextBox class="form-control w-100" MaxLength="150" @bind-Value=@Model.Entidad></RadzenTextBox>
                    <ValidationMessage For="() => Model.Entidad" />
                </div>
            </div>

            <div class="mb-1 row">
                <label class="col-sm-2 col-form-label">Per&iacute;odo:</label>
                <div class="col-sm-10">
                    <div class="d-flex flex-row align-items-center">
                        <CustomRadzenDropDown Style="width:80px"
                                              Name="ddlMeses"
                                              AllowFiltering=false
                                              TextProperty="Descripcion"
                                              ValueProperty="Id"
                                              Data="@lstMeses"
                                              FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                              @bind-Value="@Model.Mes" />

                        <label class="p-1">/</label>

                        <CustomRadzenNumeric TValue="int?" MaxIntegers="4" MaxDecimals="0" class="form-control"
                                             ShowUpDown="false" Style="width:80px"
                                             @bind-Value=@Model.Anio
                                             />
                    </div>
                    <div><ValidationMessage For="() => Model.Mes" /></div>
                    <div><ValidationMessage For="() => Model.Anio" /></div>

                </div>
            </div>

            <div class="mb-1 row">
                <label class="col-sm-2 col-form-label">Situaci&oacute;n:</label>
                <div class="col-sm-10">

                    <CustomRadzenDropDown class="width-sm"
                                          Name="ddlSituacion"
                                          AllowFiltering=false
                                          TextProperty="Descripcion"
                                          ValueProperty="Id"
                                          Data="@lstSituaciones"
                                          FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                          @bind-Value="@Model.Situacion" />
                    <div>
                        <ValidationMessage For="() => Model.Situacion" />
                    </div>
                </div>
            </div>

            <div class="mb-1 row">
                <label class="col-sm-2 col-form-label">Monto:</label>
                <div class="col-sm-10">
                    <NumericBox TValue="decimal?"
                                MaxIntegers="10"
                                MaxDecimals="2"
                                class="form-control"
                                @bind-Value=@Model.Monto Style="width:180px" />
                    <div>
                        <ValidationMessage For="() => Model.Monto" />
                    </div>
                </div>
            </div>

            <div class="mb-1 row">
                <label class="col-sm-2 col-form-label">D&iacute;as de atraso:</label>
                <div class="col-sm-10">
                    <CustomRadzenNumeric TValue="int?"
                                         MaxIntegers="3"
                                         MaxDecimals="0"
                                         Format="F2"
                                         class="form-control"
                                         ShowUpDown="false"
                                         @bind-Value=@Model.DiasDeAtraso
                                         Style="width:80px" />
                    <div>
                        <ValidationMessage For="() => Model.DiasDeAtraso" />
                    </div>
                </div>
            </div>

        </RadzenBody>
        <RadzenFooter class="mt-3">
            <div class="d-flex flex-row text-end justify-content-end">
                @if (!isBusyAceptar)
                {
                    <button type="submit" class="btn btn-violet" style="width: 120px">Aceptar</button>
                    <button type="button" class="btn btn-light" @onclick="@((args) => dialogService.Close(false))" style="width: 120px">Cancelar</button>
                }
                else
                {
                    <div class="spinner-border text-pink" role="status"></div>
                }
            </div>

        </RadzenFooter>

    </RadzenLayout>
</EditForm>



