@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Website.Services

@inherits LayoutComponentBase
@inject NavigationManager nm;


<main>

    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />

    <RadzenLayout class="rz-shadow-3" >
        <RadzenHeader Style="background-color:#0088cb">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                <a href="/">
                    <img src="/images/logo-blanco.png" style="height:70px;padding:10px" />
                </a>
                
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" Style="margin-left:50px" />
                
                <RadzenLabel Text="Registro de Licitadores y Consultores"   />

            </div>
                <div class="d-flex align-items-center">
                    <AuthorizeView>
                        <Authorized>
                        
                        <div>
                            <div style="color:white; margin-right:20px; font-size:12px">
                                <div>2023 - A&ntilde;o del 40&deg; Aniversario de la Restauraci&oacute;n Democr&aacute;tica</div>
                                <div>2023 - 70 A&ntilde;os de la Primera Elecci&oacute;n Democr&aacute;tica en La Pampa</div>
                            </div>
                        </div>    
                            
                        @*Menu de usuario logueado*@
                        <ul class="list-unstyled topnav-menu float-end mb-0 mr-2 text-dark">
                            <li class="dropdown notification-list topbar-dropdown">
                                <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    @{
                                        if (usernameLogueado != usernameEmpresa && !string.IsNullOrWhiteSpace(usernameEmpresa))
                                        {
                                            <img src="assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle" style="vertical-align:initial">
                                            <span class="pro-user-name ms-1 text-capitalize">
                                                <div style="display: inline-block">
                                                        <div>Usuario: @usernameLogueado - @NombreyApellido</div>
                                                        <div class="rz-color-base-300">Representado: @usernameEmpresa </div>
                                                        <div class="rz-color-base-300">@NombreEmpresa</div>
                                                </div>
                                                <i class="mdi mdi-chevron-down"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <img src="assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle" style="vertical-align:initial">
                                            <span class="pro-user-name ms-1 text-capitalize">
                                                    <div style="display: inline-block">
                                                        <div>Usuario: @usernameLogueado</div>
                                                        <div>Nombre: @NombreyApellido</div>
                                                    </div>
                                                    <i class="mdi mdi-chevron-down"></i>
                                            </span>
                                            
                                        }
                                    }
                                            
                                </a>
                                <div class="dropdown-menu dropdown-menu-end profile-dropdown ">

                                    <!-- item-->
                                    <a href="#" class="dropdown-item notify-item">
                                        <i class="fe-user"></i>
                                        <span>Mi cuenta</span>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    
                                    <!-- item-->
                                    <a href="/Account/Logout" class="dropdown-item notify-item">
                                        <i class="fe-log-out"></i>
                                        <span>Cerrar sesión</span>
                                    </a>
                                    

                                </div>
                            </li>
                        </ul>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </RadzenHeader>
        
        <AuthorizeView>
            <Authorized>

                <RadzenSidebar @bind-Expanded="@sidebar1Expanded" Style="width:245px; background-color:#e6ebf0; ">
                    <RadzenPanelMenu style=" background-color:#e6ebf0;">
                         @foreach(var menu in lstMenues)
                         {
                            <RadzenPanelMenuItem Text="@menu.Text" Icon="@menu.Icon"  Path="@menu.Path" />
                         }
                    </RadzenPanelMenu>
                </RadzenSidebar>
            </Authorized>
        </AuthorizeView>
        <RadzenBody Style=" background-color:#f3f6f9; margin-bottom:20px">
            <div class="p-0 mb-3">

                <GlobalErrorHandler>
                    <ChildContent>
                            @Body
                    </ChildContent>
                    <ErrorContent Context="ex">
                        <h2>Ha ocurrido un error</h2>

                        <div class="mt-3">
                            <h3>Source:</h3>
                            <label>@ex.Source</label>
                        </div>
                        <div class="mt-3">
                                
                            <h3 >Mensaje:</h3>
                            <label>@(StaticClass.Functions.GetErrorMessage(ex))</label>
                                
                        </div>
                        <div class="alert alert-danger mt-4">
                            <h3>Stack Trace:</h3>
                            <pre>@ex.StackTrace</pre>
                                    
                        </div>
                            
                    </ErrorContent>
                </GlobalErrorHandler>
            </div>
        </RadzenBody>
        
            <div style="position:absolute; bottom:0px; left:0px; right:0px; background-color:#525259;padding: 5px 5px 2px 10px; font-size: 12px; z-index: 99">
                <div class="d-flex justify-content-between p-1" style=" color:#ccc">
                    <div>Donar &Oacute;rganos es salvar vidas</div>
                    <div >El R&iacute;o Atuel tambi&eacute;n es Pampeano</div>
                    <div >NO al Portezuelo en manos de Mendoza</div>
                </div>
            </div>

        
        <!-- Footer Start -->
        
            
        
        <!-- end Footer -->
    </RadzenLayout>


</main>
